# Dominoes Project : Predictive Purchase Order System

### Problem Statement:
Dominos wants to optimize the process of ordering ingredients by predicting future sales and creating a purchase order. By accurately forecasting sales, Dominos can ensure that it has the right amount of ingredients in stock, minimizing waste and preventing stockouts. This project aims to leverage historical sales data and ingredient information to develop a predictive model and generate an efficient purchase order system.


### Business Use Cases:
Inventory Management: Ensuring optimal stock levels to meet future demand without overstocking.
Cost Reduction: Minimizing waste and reducing costs associated with expired or excess inventory.
Sales Forecasting: Accurately predicting sales trends to inform business strategies and promotions.
Supply Chain Optimization: Streamlining the ordering process to align with predicted sales and avoid disruptions.

### Dataset: Taken from kaggle:

Pizza_Sale.xlsx - Order_date, time, pizza id, pizza name, pizza size, pizza category, unit_price, total_price, quantity
Pizza_Ingredients.xlsx - Pizza varities and ingredients and it's grams for each
Containing data from 01-01-2015 to 01-012-2015

## Part 1: Data Inspection and Cleaning

In [75]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Pizza_Sale.xlsx

In [76]:
df_sales = pd.read_excel('Pizza_Sale.xlsx')
df_sales

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01 00:00:00,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01 00:00:00,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01 00:00:00,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01 00:00:00,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01 00:00:00,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617,21348,four_cheese_l,1,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618,21348,napolitana_s,1,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619,21349,mexicana_l,1,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620,21350,bbq_ckn_s,1,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [77]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48604 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48613 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48597 non-null  object
 10  pizza_ingredients  48607 non-null  object
 11  pizza_name         48613 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB

In [78]:
df_sales['order_date'] = pd.to_datetime(df_sales['order_date'])
df_sales['order_time'] = pd.to_datetime(df_sales['order_time'], format='%H:%M:%S').dt.time
df_sales.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [79]:
df_sales.describe()

,pizza_id,order_id,quantity,order_date,unit_price,total_price
count,48620.000000,48620.000000,48620.000000,48620,48620.000000,48613.000000
mean,24310.500000,10701.479761,1.019622,2015-06-28 21:56:43.932538112,16.494132,16.821494
min,1.000000,1.000000,1.000000,2015-01-01 00:00:00,9.750000,9.750000
25%,12155.750000,5337.000000,1.000000,2015-03-30 00:00:00,12.750000,12.750000
50%,24310.500000,10682.500000,1.000000,2015-06-28 00:00:00,16.500000,16.500000
75%,36465.250000,16100.000000,1.000000,2015-09-29 00:00:00,20.250000,20.500000
max,48620.000000,21350.000000,4.000000,2015-12-31 00:00:00,35.950000,83.000000
std,14035.529381,6180.119770,0.143077,NaN,3.621789,4.437520

In [80]:
# Verify the dtype and values
print(df_sales['order_time'].dtype)  # Should show 'object'
print(df_sales['order_time'].apply(type).unique())  # Should show <class 'datetime.time'>

object
[<class 'datetime.time'>]

In [81]:
df_sales.isnull().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64

In [82]:
df_sales.nunique()

pizza_id             48620
order_id             21350
pizza_name_id           91
quantity                 4
order_date             358
order_time           16382
unit_price              25
total_price             56
pizza_size               5
pizza_category           4
pizza_ingredients       32
pizza_name              32
dtype: int64

In [83]:
df_sales.duplicated().sum()

0

#### We can't drop the pizza_name_id as we will need them but before we get there we can fill missing pizza names

In [84]:
df_missing = df_sales[df_sales.isna().any(axis=1)]

In [85]:
# Missing values in pizza_name
df_missing[df_missing['pizza_name'].isna()]['pizza_name_id'].unique()

array(['pepperoni_s', 'hawaiian_s', 'mexicana_l', 'pepperoni_l',
       'sicilian_s', 'spicy_ital_m', 'big_meat_s'], dtype=object)

In [86]:
# We can substitue s with m or l to see if pizza_name is available
# List of pizza_name_id values to filter
pizza_ids_to_filter = ['pepperoni_m', 'hawaiian_m', 'mexicana_s', 'sicilian_m', 'spicy_ital_l', 'big_meat_s', 'big_meat_l']

# Filter DataFrame using the list of pizza_name_id values
filtered_df = df_sales[df_sales['pizza_name_id'].isin(pizza_ids_to_filter)]

# Drop duplicate entries based on 'pizza_name_id'
unique_filtered_df = filtered_df.drop_duplicates(subset='pizza_name_id')

unique_filtered_df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
19,20,9,mexicana_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
20,21,9,spicy_ital_l,1,2015-01-01,12:52:01,20.75,20.75,L,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",The Spicy Italian Pizza
35,36,15,big_meat_s,1,2015-01-01,13:33:00,12.00,12.00,S,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau...",The Big Meat Pizza
64,65,24,pepperoni_m,1,2015-01-01,14:23:01,12.50,12.50,M,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
66,67,25,sicilian_m,1,2015-01-01,14:44:44,16.25,16.25,M,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives...",The Sicilian Pizza

In [87]:
df_sales.loc[df_sales['pizza_name_id'] == 'hawaiian_s', 'pizza_name'] = 'The Hawaiian Pizza'
df_sales.loc[df_sales['pizza_name_id'] == 'pepperoni_s', 'pizza_name'] = 'The Pepperoni Pizza'
df_sales.loc[df_sales['pizza_name_id'] == 'pepperoni_l', 'pizza_name'] = 'The Pepperoni Pizza'
df_sales.loc[df_sales['pizza_name_id'] == 'mexicana_l', 'pizza_name'] = 'The Mexicana Pizza'
df_sales.loc[df_sales['pizza_name_id'] == 'sicilian_s', 'pizza_name'] = 'The Spicy Italian Pizza'
df_sales.loc[df_sales['pizza_name_id'] == 'spicy_ital_m', 'pizza_name'] = 'The Spicy Italian Pizza'
df_sales.loc[df_sales['pizza_name_id'] == 'big_meat_s', 'pizza_name'] = 'The Big Meat Pizza'

df_sales.isna().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            0
dtype: int64

In [88]:
# Missing values in pizza_category
missing_category_pizza_names = (df_missing[df_missing['pizza_category'].isna()]['pizza_name'].unique()).tolist()

In [89]:
missing_category_pizza_names

['The Mexicana Pizza',
 'The Brie Carre Pizza',
 'The Pepper Salami Pizza',
 'The Napolitana Pizza',
 'The Spinach Pesto Pizza',
 'The Hawaiian Pizza',
 'The Sicilian Pizza',
 'The Spicy Italian Pizza',
 'The Barbecue Chicken Pizza',
 'The Chicken Alfredo Pizza',
 'The Pepperoni Pizza',
 'The Greek Pizza',
 'The Spinach and Feta Pizza',
 'The Italian Capocollo Pizza',
 'The Five Cheese Pizza',
 'The Prosciutto and Arugula Pizza']

In [90]:
# Filter DataFrame using the list of pizza_name_id values
filtered_df = df_sales[df_sales['pizza_name'].isin(missing_category_pizza_names)]

# Drop duplicate entries based on 'pizza_name_id'
unique_filtered_df = filtered_df.drop_duplicates(subset='pizza_name')

unique_filtered_df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
7,8,3,prsc_argla_l,1,2015-01-01,12:12:28,20.75,20.75,L,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza
10,11,6,bbq_ckn_s,1,2015-01-01,12:29:36,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
11,12,6,the_greek_s,1,2015-01-01,12:29:36,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
16,17,9,ital_cpcllo_l,1,2015-01-01,12:52:01,20.50,20.50,L,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,...",The Italian Capocollo Pizza
20,21,9,spicy_ital_l,1,2015-01-01,12:52:01,20.75,20.75,L,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",The Spicy Italian Pizza
21,22,9,spin_pesto_l,1,2015-01-01,12:52:01,20.75,20.75,L,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",The Spinach Pesto Pizza
28,29,11,pepperoni_l,1,2015-01-01,13:02:59,15.25,15.25,L,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
40,41,16,NaN,1,2015-01-01,13:34:07,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
50,51,17,peppr_salami_s,1,2015-01-01,13:53:00,12.50,12.50,S,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...",The Pepper Salami Pizza
51,52,17,spinach_fet_l,1,2015-01-01,13:53:00,20.25,20.25,L,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G...",The Spinach and Feta Pizza
54,55,19,sicilian_l,1,2015-01-01,13:59:09,20.25,20.25,L,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives...",The Sicilian Pizza
73,74,28,ckn_alfredo_s,1,2015-01-01,15:35:46,12.75,12.75,S,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
427,428,182,brie_carre_s,1,2015-03-01,18:50:10,23.65,23.65,S,NaN,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",The Brie Carre Pizza

In [91]:
# Create a mapping from pizza_name to pizza_category
pizza_name_to_category = unique_filtered_df.set_index('pizza_name')['pizza_category'].to_dict()

In [92]:
# Fill missing pizza_category values in df_main
df_sales.loc[df_sales['pizza_name'].map(pizza_name_to_category).notna(), 'pizza_category'] = \
    df_sales['pizza_name'].map(pizza_name_to_category)

df_sales.isna().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category        1
pizza_ingredients    13
pizza_name            0
dtype: int64

In [93]:
df_sales['pizza_category'].unique()

array(['Classic', 'Veggie', 'Supreme', 'Chicken', nan], dtype=object)

In [94]:
df_sales[df_sales['pizza_category'].isna()]['pizza_ingredients']

427    Brie Carre Cheese, Prosciutto, Caramelized Oni...
Name: pizza_ingredients, dtype: object

In [95]:
pd.set_option('display.max_colwidth', None)  # None means no truncation

In [96]:
df_sales[df_sales['pizza_category'].isna()]['pizza_ingredients']

427    Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic
Name: pizza_ingredients, dtype: object

In [97]:
#we can put it under Supreme pizza as it is not a classic, regular veggie, or Chicken
df_sales.loc[df_sales['pizza_name'] == 'The Brie Carre Pizza', 'pizza_category'] = 'Supreme'

df_sales['pizza_category'].unique()

array(['Classic', 'Veggie', 'Supreme', 'Chicken'], dtype=object)

In [98]:
df_sales.isna().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category        0
pizza_ingredients    13
pizza_name            0
dtype: int64

In [99]:
# Missing values in pizza_ingredients, we can likely drop this as we have ingredients in other table
df_missing[df_missing['pizza_ingredients'].isna()]['pizza_name'].unique()

array(['The Five Cheese Pizza', 'The Green Garden Pizza',
       'The Hawaiian Pizza', 'The Spinach and Feta Pizza',
       'The Pepperoni, Mushroom, and Peppers Pizza',
       'The California Chicken Pizza', 'The Four Cheese Pizza',
       'The Italian Vegetables Pizza', 'The Southwest Chicken Pizza',
       'The Chicken Alfredo Pizza', 'The Prosciutto and Arugula Pizza'],
      dtype=object)

In [100]:
# Missing values in total_price
missing_price_pizza_name_id = (df_missing[df_missing['total_price'].isna()]['pizza_name_id'].unique()).tolist()

In [101]:
missing_price_pizza_name_id

['bbq_ckn_m',
 'pepperoni_s',
 'sicilian_l',
 'southw_ckn_l',
 'five_cheese_l',
 'four_cheese_m',
 'ital_cpcllo_m']

In [102]:
df_missing[df_missing['total_price'].isna()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
781,782,341,bbq_ckn_m,1,2015-06-01,15:35:47,16.75,NaN,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce",The Barbecue Chicken Pizza
782,783,341,pepperoni_s,1,2015-06-01,15:35:47,9.75,NaN,S,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
783,784,342,sicilian_l,1,2015-06-01,15:44:12,20.25,NaN,L,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic",The Sicilian Pizza
784,785,342,southw_ckn_l,1,2015-06-01,15:44:12,20.75,NaN,L,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce",The Southwest Chicken Pizza
785,786,343,five_cheese_l,1,2015-06-01,15:45:37,18.50,NaN,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic",The Five Cheese Pizza
786,787,343,four_cheese_m,1,2015-06-01,15:45:37,14.75,NaN,M,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic",The Four Cheese Pizza
787,788,344,ital_cpcllo_m,1,2015-06-01,16:01:11,16.00,NaN,M,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano",The Italian Capocollo Pizza

In [103]:
df_sales.loc[df_sales['total_price'].isna(), 'total_price'] = df_sales['quantity'] * df_sales['unit_price']
df_sales.isna().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           0
pizza_size            0
pizza_category        0
pizza_ingredients    13
pizza_name            0
dtype: int64

In [104]:
#Now dealing with the pizza_name_id

df_missing[df_missing['pizza_name_id'].isna()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
36,37,15,NaN,1,2015-01-01,13:33:00,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic",The Five Cheese Pizza
37,38,15,NaN,1,2015-01-01,13:33:00,20.75,20.75,L,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic",The Soppressata Pizza
38,39,15,NaN,1,2015-01-01,13:33:00,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions",The Greek Pizza
39,40,16,NaN,1,2015-01-01,13:34:07,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic",The Four Cheese Pizza
40,41,16,NaN,1,2015-01-01,13:34:07,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions, Garlic",The Napolitana Pizza
41,42,16,NaN,1,2015-01-01,13:34:07,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce",The Thai Chicken Pizza
309,310,131,NaN,1,2015-02-01,21:33:10,12.00,12.00,S,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese",The Green Garden Pizza
310,311,131,NaN,1,2015-02-01,21:33:10,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese",The Spinach Supreme Pizza
311,312,132,NaN,1,2015-02-01,21:42:45,9.75,9.75,S,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
312,313,133,NaN,1,2015-02-01,22:00:17,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce",The Barbecue Chicken Pizza
313,314,133,NaN,1,2015-02-01,22:00:17,16.50,16.50,L,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
415,416,175,NaN,1,2015-03-01,17:50:51,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic",The Italian Supreme Pizza
416,417,176,NaN,1,2015-03-01,17:51:57,20.75,20.75,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese",The California Chicken Pizza
417,418,176,NaN,1,2015-03-01,17:51:57,16.50,16.50,M,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic",The Pepper Salami Pizza
418,419,177,NaN,1,2015-03-01,17:54:36,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions, Garlic",The Napolitana Pizza
419,420,177,NaN,1,2015-03-01,17:54:36,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce",The Thai Chicken Pizza

In [105]:
missing_pizza_name_id_pizza_name = (df_missing[df_missing['pizza_name_id'].isna()]['pizza_name'].unique()).tolist()

In [106]:
missing_pizza_name_id_pizza_name

['The Five Cheese Pizza',
 'The Soppressata Pizza',
 'The Greek Pizza',
 'The Four Cheese Pizza',
 'The Napolitana Pizza',
 'The Thai Chicken Pizza',
 'The Green Garden Pizza',
 'The Spinach Supreme Pizza',
 'The Pepperoni Pizza',
 'The Barbecue Chicken Pizza',
 'The Hawaiian Pizza',
 'The Italian Supreme Pizza',
 'The California Chicken Pizza',
 'The Pepper Salami Pizza']

In [107]:
# Filter DataFrame using the list of pizza_name_id values
filtered_df = df_sales[df_sales['pizza_name'].isin(missing_pizza_name_id_pizza_name)]

# Drop duplicate entries based on 'pizza_name_id'
unique_filtered_df = filtered_df.drop_duplicates(subset='pizza_name')

unique_filtered_df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic",The Italian Supreme Pizza
5,6,2,thai_ckn_l,1,2015-01-01,11:57:40,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce",The Thai Chicken Pizza
10,11,6,bbq_ckn_s,1,2015-01-01,12:29:36,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce",The Barbecue Chicken Pizza
11,12,6,the_greek_s,1,2015-01-01,12:29:36,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions",The Greek Pizza
12,13,7,spinach_supr_s,1,2015-01-01,12:50:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese",The Spinach Supreme Pizza
15,16,9,green_garden_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese",The Green Garden Pizza
26,27,11,cali_ckn_l,1,2015-01-01,13:02:59,20.75,20.75,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese",The California Chicken Pizza
28,29,11,pepperoni_l,1,2015-01-01,13:02:59,15.25,15.25,L,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
37,38,15,NaN,1,2015-01-01,13:33:00,20.75,20.75,L,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic",The Soppressata Pizza
39,40,16,NaN,1,2015-01-01,13:34:07,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic",The Four Cheese Pizza
40,41,16,NaN,1,2015-01-01,13:34:07,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions, Garlic",The Napolitana Pizza
50,51,17,peppr_salami_s,1,2015-01-01,13:53:00,12.50,12.50,S,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic",The Pepper Salami Pizza

In [108]:
pizza_name_id_map = unique_filtered_df.set_index('pizza_name')['pizza_name_id'].to_dict()

In [109]:
def adjust_pizza_name_id(pizza_name, pizza_size, pizza_name_id_map):
    # Check if pizza_name is in the map
    base_pizza_name_id = pizza_name_id_map.get(pizza_name, None)
    if pd.isna(base_pizza_name_id):
        return None

    # Ensure the base_pizza_name_id is a string
    base_pizza_name_id = str(base_pizza_name_id)
    
    size_mapping = {'S': 's', 'M': 'm', 'L': 'l'}
    if pizza_size in size_mapping:
        adjusted_pizza_name_id = base_pizza_name_id[:-1] + size_mapping[pizza_size]
        return adjusted_pizza_name_id
    else:
        return None

In [110]:
df_sales['pizza_name_id'] = df_sales.apply(lambda row: adjust_pizza_name_id(row['pizza_name'], row['pizza_size'], pizza_name_id_map) 
                               if pd.isna(row['pizza_name_id']) else row['pizza_name_id'], axis=1)

In [111]:
df_sales.isna().sum()

pizza_id              0
order_id              0
pizza_name_id         4
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           0
pizza_size            0
pizza_category        0
pizza_ingredients    13
pizza_name            0
dtype: int64

In [112]:
df_sales[df_sales['pizza_name_id'].isna()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
37,38,15,None,1,2015-01-01,13:33:00,20.75,20.75,L,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic",The Soppressata Pizza
39,40,16,None,1,2015-01-01,13:34:07,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic",The Four Cheese Pizza
40,41,16,None,1,2015-01-01,13:34:07,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions, Garlic",The Napolitana Pizza
418,419,177,None,1,2015-03-01,17:54:36,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions, Garlic",The Napolitana Pizza

In [115]:
# 4 more null values let's see in ingridients column
df_ing[(df_ing['pizza_name']=='The Soppressata Pizza') | (df_ing['pizza_name']=='The Four Cheese Pizza') | (df_ing['pizza_name']=='The Napolitana Pizza') ]

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
124,four_cheese_l,The Four Cheese Pizza,Ricotta Cheese,50.0
125,four_cheese_l,The Four Cheese Pizza,Gorgonzola Piccante Cheese,40.0
126,four_cheese_l,The Four Cheese Pizza,Mozzarella Cheese,20.0
127,four_cheese_l,The Four Cheese Pizza,Parmigiano Reggiano Cheese,90.0
128,four_cheese_l,The Four Cheese Pizza,Garlic,15.0
129,four_cheese_m,The Four Cheese Pizza,Ricotta Cheese,25.0
130,four_cheese_m,The Four Cheese Pizza,Gorgonzola Piccante Cheese,20.0
131,four_cheese_m,The Four Cheese Pizza,Mozzarella Cheese,10.0
132,four_cheese_m,The Four Cheese Pizza,Parmigiano Reggiano Cheese,60.0
133,four_cheese_m,The Four Cheese Pizza,Garlic,10.0
260,napolitana_l,The Napolitana Pizza,Tomatoes,30.0
261,napolitana_l,The Napolitana Pizza,Anchovies,40.0
262,napolitana_l,The Napolitana Pizza,Green Olives,15.0
263,napolitana_l,The Napolitana Pizza,Red Onions,60.0
264,napolitana_l,The Napolitana Pizza,Garlic,15.0
265,napolitana_m,The Napolitana Pizza,Tomatoes,20.0
266,napolitana_m,The Napolitana Pizza,Anchovies,30.0
267,napolitana_m,The Napolitana Pizza,Green Olives,10.0
268,napolitana_m,The Napolitana Pizza,Red Onions,40.0
269,napolitana_m,The Napolitana Pizza,Garlic,10.0
270,napolitana_s,The Napolitana Pizza,Tomatoes,10.0
271,napolitana_s,The Napolitana Pizza,Anchovies,15.0
272,napolitana_s,The Napolitana Pizza,Green Olives,5.0
273,napolitana_s,The Napolitana Pizza,Red Onions,20.0
274,napolitana_s,The Napolitana Pizza,Garlic,5.0
335,soppressata_l,The Soppressata Pizza,Soppressata Salami,150.0
336,soppressata_l,The Soppressata Pizza,Fontina Cheese,30.0
337,soppressata_l,The Soppressata Pizza,Mozzarella Cheese,30.0
338,soppressata_l,The Soppressata Pizza,Mushrooms,60.0
339,soppressata_l,The Soppressata Pizza,Garlic,15.0
340,soppressata_m,The Soppressata Pizza,Soppressata Salami,100.0
341,soppressata_m,The Soppressata Pizza,Fontina Cheese,20.0
342,soppressata_m,The Soppressata Pizza,Mozzarella Cheese,20.0
343,soppressata_m,The Soppressata Pizza,Mushrooms,40.0
344,soppressata_m,The Soppressata Pizza,Garlic,10.0
345,soppressata_s,The Soppressata Pizza,Soppressata Salami,50.0
346,soppressata_s,The Soppressata Pizza,Fontina Cheese,10.0
347,soppressata_s,The Soppressata Pizza,Mozzarella Cheese,10.0
348,soppressata_s,The Soppressata Pizza,Mushrooms,20.0
349,soppressata_s,The Soppressata Pizza,Garlic,5.0

In [116]:
df_sales.loc[(df_sales['pizza_name'] == 'The Four Cheese Pizza') & (df_sales['pizza_size'] == 'L'), 'pizza_name_id'] = 'four_cheese_l'
df_sales.loc[(df_sales['pizza_name'] == 'The Soppressata Pizza') & (df_sales['pizza_size'] == 'L'), 'pizza_name_id'] = 'soppressata_l'
df_sales.loc[(df_sales['pizza_name'] == 'The Napolitana Pizza') & (df_sales['pizza_size'] == 'S'), 'pizza_name_id'] = 'napolitana_s'

df_sales.isna().sum()

pizza_id              0
order_id              0
pizza_name_id         0
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           0
pizza_size            0
pizza_category        0
pizza_ingredients    13
pizza_name            0
dtype: int64

In [119]:
#cleaned and now can save but before that we are dropping columns not needed
#df_sales.drop(['pizza_id','order_id','pizza_ingredients'],axis=1,inplace= True)
df_sales.head(1)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza

In [ ]:
df_sales.to_excel('Pizza_Sale_Cleaned.xlsx', index=False)

### Pizza_Ingredients.xlsx

In [3]:
df_ing = pd.read_excel('Pizza_Ingredients.xlsx')
df_ing

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0
...,...,...,...,...
513,veggie_veg_s,The Vegetables + Vegetables Pizza,Green Peppers,20.0
514,veggie_veg_s,The Vegetables + Vegetables Pizza,Red Onions,20.0
515,veggie_veg_s,The Vegetables + Vegetables Pizza,Zucchini,10.0
516,veggie_veg_s,The Vegetables + Vegetables Pizza,Spinach,15.0
517,veggie_veg_s,The Vegetables + Vegetables Pizza,Garlic,5.0

In [174]:
df_ing.nunique()

pizza_name_id         91
pizza_name            32
pizza_ingredients     64
Items_Qty_In_Grams    17
dtype: int64

In [175]:
df_ing.isnull().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

In [176]:
df_ing[df_ing.isnull().any(axis=1)]

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
24,brie_carre_s,The Brie Carre Pizza,Caramelized Onions,NaN
149,hawaiian_l,The Hawaiian Pizza,Sliced Ham,NaN
152,hawaiian_m,The Hawaiian Pizza,Sliced Ham,NaN
155,hawaiian_s,The Hawaiian Pizza,Sliced Ham,NaN

In [177]:
df_ing[df_ing['pizza_name'] == 'The Hawaiian Pizza']

    pizza_name_id          pizza_name  pizza_ingredients  Items_Qty_In_Grams
149    hawaiian_l  The Hawaiian Pizza         Sliced Ham                 NaN
150    hawaiian_l  The Hawaiian Pizza          Pineapple                45.0
151    hawaiian_l  The Hawaiian Pizza  Mozzarella Cheese                30.0
152    hawaiian_m  The Hawaiian Pizza         Sliced Ham                 NaN
153    hawaiian_m  The Hawaiian Pizza          Pineapple                30.0
154    hawaiian_m  The Hawaiian Pizza  Mozzarella Cheese                20.0
155    hawaiian_s  The Hawaiian Pizza         Sliced Ham                 NaN
156    hawaiian_s  The Hawaiian Pizza          Pineapple                15.0
157    hawaiian_s  The Hawaiian Pizza  Mozzarella Cheese                10.0

In [178]:
df_ing[df_ing['pizza_name'] == 'The Brie Carre Pizza']

   pizza_name_id            pizza_name   pizza_ingredients  Items_Qty_In_Grams
22  brie_carre_s  The Brie Carre Pizza   Brie Carre Cheese                30.0
23  brie_carre_s  The Brie Carre Pizza          Prosciutto                30.0
24  brie_carre_s  The Brie Carre Pizza  Caramelized Onions                 NaN
25  brie_carre_s  The Brie Carre Pizza               Pears                10.0
26  brie_carre_s  The Brie Carre Pizza               Thyme                 5.0
27  brie_carre_s  The Brie Carre Pizza              Garlic                 5.0

In [179]:
# Adding column size L or M or S 

df_ing['pizza_size'] = df_ing['pizza_name_id'].str[-1].str.upper()
df_ing

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams,pizza_size
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0,L
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0,L
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0,L
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0,L
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0,L
...,...,...,...,...,...
513,veggie_veg_s,The Vegetables + Vegetables Pizza,Green Peppers,20.0,S
514,veggie_veg_s,The Vegetables + Vegetables Pizza,Red Onions,20.0,S
515,veggie_veg_s,The Vegetables + Vegetables Pizza,Zucchini,10.0,S
516,veggie_veg_s,The Vegetables + Vegetables Pizza,Spinach,15.0,S
517,veggie_veg_s,The Vegetables + Vegetables Pizza,Garlic,5.0,S

In [180]:
# To fill them we can calculate avg total item qty weight in grams over all pizza for each size L, M, S then input them 

average_weight_by_size = df_ing.groupby('pizza_size')['Items_Qty_In_Grams'].mean()

print(average_weight_by_size)

#Thus we can round it off to the closest round number

pizza_size
L    45.000000
M    29.176829
S    16.279762
Name: Items_Qty_In_Grams, dtype: float64

In [181]:
# For pineapple

df_ing.loc[(df_ing['pizza_name_id'] == 'hawaiian_l') & (df_ing['pizza_ingredients'] == 'Sliced Ham'), 'Items_Qty_In_Grams'] = 45
df_ing.loc[(df_ing['pizza_name_id'] == 'hawaiian_m') & (df_ing['pizza_ingredients'] == 'Sliced Ham'), 'Items_Qty_In_Grams'] = 30
df_ing.loc[(df_ing['pizza_name_id'] == 'hawaiian_s') & (df_ing['pizza_ingredients'] == 'Sliced Ham'), 'Items_Qty_In_Grams'] = 15

df_ing[df_ing['pizza_name'] == 'The Hawaiian Pizza']

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams,pizza_size
149,hawaiian_l,The Hawaiian Pizza,Sliced Ham,45.0,L
150,hawaiian_l,The Hawaiian Pizza,Pineapple,45.0,L
151,hawaiian_l,The Hawaiian Pizza,Mozzarella Cheese,30.0,L
152,hawaiian_m,The Hawaiian Pizza,Sliced Ham,30.0,M
153,hawaiian_m,The Hawaiian Pizza,Pineapple,30.0,M
154,hawaiian_m,The Hawaiian Pizza,Mozzarella Cheese,20.0,M
155,hawaiian_s,The Hawaiian Pizza,Sliced Ham,15.0,S
156,hawaiian_s,The Hawaiian Pizza,Pineapple,15.0,S
157,hawaiian_s,The Hawaiian Pizza,Mozzarella Cheese,10.0,S

In [182]:
# for brie carre pizza 
df_ing.loc[(df_ing['pizza_name_id'] == 'brie_carre_s') & (df_ing['pizza_ingredients'] == 'Caramelized Onions'), 'Items_Qty_In_Grams'] = 15

df_ing[df_ing['pizza_name'] == 'The Brie Carre Pizza']

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams,pizza_size
22,brie_carre_s,The Brie Carre Pizza,Brie Carre Cheese,30.0,S
23,brie_carre_s,The Brie Carre Pizza,Prosciutto,30.0,S
24,brie_carre_s,The Brie Carre Pizza,Caramelized Onions,15.0,S
25,brie_carre_s,The Brie Carre Pizza,Pears,10.0,S
26,brie_carre_s,The Brie Carre Pizza,Thyme,5.0,S
27,brie_carre_s,The Brie Carre Pizza,Garlic,5.0,S

In [183]:
df_ing.isna().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    0
pizza_size            0
dtype: int64

In [185]:
df_ing.to_excel('Pizza_ingredients_cleaned.xlsx',index=False)

# Now cleaning is done, we can proceed to the next steps, See Part 2